<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>User</title>

    <link href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css"
          rel="stylesheet"
          type="text/css"/>
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          rel="stylesheet"/>
    <!--		Link Mdb-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />
<style>
    .error{
        color: darkred;
        font-style: italic;
    }
</style>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link " href="#" th:href="@{/user/homeUser}">User </a>
            <a class="nav-item nav-link " href="#" th:href="@{/departments/homeDepartment}">Department </a>
        </div>
    </div>
</nav>
<br>
<br>
<div class="container">

    <h3>User</h3>

    <hr/>
    <a class="btn btn-primary" data-target="#addModal" data-toggle="modal">Add User</a>
    <br/><br/>
    <table class="table table-bordered table-striped" id="userTable">

        <thead>
        <tr>
            <th>User Name</th>
            <th>email</th>
            <th>Password</th>
            <th>Department Name</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <!--        <tr >-->

        <!--            <td th:text="${course.course_name}"></td>-->
        <!--            <td th:text="${course.credits}"></td>-->
        <!--            <td data-target="#addModal"><a class="btn btn-primary" id="editButton"-->
        <!--                                           th:href="@{/showFormForUpdate/{id}(id=${course.course_id})}"> Update</a>-->
        <!--                <a class="btn btn-danger"-->
        <!--                   th:href="@{/deleteEmployee/{id}(id=${course.course_id})}"> Delete</a>-->
        <!--            </td>-->
        <!--        </tr>-->
        </tbody>

    </table>
</div>
<!--Modal-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add  User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#" class="needs-validation" method="POST" id="addUser"
                      >
                    <div class="form-group">
                        <label class="form-label"for="userName">User Name</label>
                        <input class="form-control mb-4 col-4" id="userName" name="userName"  required
                               type="text">
                        <div class="invalid-feedback">
                            Please Fill this field
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="email">Email</label>
                        <input class="form-control mb-4 col-4" id="email" name="email"  required
                               type="text">
                        <div class="invalid-feedback">
                            Please Fill this field
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="password">Password</label>
                        <input class="form-control mb-4 col-4" id="password" name="password" required
                               type="text">
                        <div class="invalid-feedback">
                            Please Fill this field
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Department: </label>
                        <select class="form-control-sm" id="departmentEdit" name="departmentId"
                                required>
                                <option>Nothing Selected</option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--Start Of Editing Modal-->
<div class="modal fade" id="editModalButton" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModal1Label">Update  User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#" class="needs-validation" id="editUser"
                      >
                    <input type="hidden" readonly id="idUpdate" name="userId">
                    <div class="form-group">
                        <label class="form-label" for="userNameUpdate">User Name</label>
                        <input class="form-control mb-4 col-4" id="userNameUpdate" name="userName"  required
                               type="text">
                        <div class="invalid-feedback">
                            Please Fill this field
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="emailUpdate">Email</label>
                        <input class="form-control mb-4 col-4" id="emailUpdate" name="email"  required
                               type="email">
                        <div class="invalid-feedback">
                            Please Fill this field
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="passwordUpdate">Password</label>
                        <input class="form-control mb-4 col-4" id="passwordUpdate" name="password" required
                               type="text">
                        <div class="invalid-feedback">
                            Please Fill this field
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Department: </label>
                        <select class="form-control-sm" id="departmentUpdate" name="departmentId"
                                required>
                            <option>Nothing selected</option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<!--CDN LINK FOR DATATABLE-->
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $("#userTable").DataTable({
            'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': [-1] /* 1st one, start by the right */
            }]
        });
    })
</script>
<script>
    $(document).ready(
        function() {
            loadAllDepartments();
            getAllUsers();
            // SUBMIT FORM
            let $useForm = $('#addUser');
            if ($useForm.length) {
                $useForm.validate({
                    rules: {
                        userName: {
                            required: true
                        },
                        email: {
                            required: true,
                            email:true
                        },
                        password: {
                            required: true
                        },
                        departmentId:{
                            required:true
                        }
                    },
                    messages: {
                        userName: {
                            required: 'User Name required'
                        },
                        email: {
                            required: 'Email required'
                        },
                        password: {
                            required: 'Password required'
                        },
                        departmentId:{
                            required:'Department Required'
                        }
                    },
                    submitHandler: function (event) {
                        event.preventDefault();
                        ajaxPost();
                    }
                });
            }
        });
            $("#editUser").submit(function(event) {
                // Prevent the form from submitting via the browser.
                event.preventDefault();
                getAllUsers();
                updateUser();
            });
            function ajaxPost() {

                // PREPARE FORM DATA
                const formData = {
                    userName : $("#userName").val(),
                    email : $("#email").val(),
                    password : $("#password").val(),
                    departmentId:$("#departmentEdit").val()
                }

                // DO POST
                $.ajax({
                    type : "POST",
                    contentType : "application/json",
                    url : "http://localhost:8181/user/saveUser",
                    data : JSON.stringify(formData),
                    dataType : 'json',
                    success : function(result) {
                        if (result) {
                            $('#addModal').modal('hide');
                            alert("User saved Successfully");
                            getAllUsers();
                        } else {
                            alert("An error occured occured");
                        }
                    },
                    error : function(e) {
                        alert("Error!")
                        console.log("ERROR: ", e);
                    }
                });

            }
    let formData = "";
    function getAllUsers() {
        let departments = null;
            $.ajax({
                type : "GET",
                url: "http://localhost:8181/departments/allDepartments",
                success : function(response) {
                    departments = response
                }
            });
        $.ajax({
            type : "GET",
            url : "/user/allUsers",
            success : function(response) {
                formData = response

                $('.tr').remove();
                for (i = 0; i < formData.length; i++) {

                    $("#userTable")
                        .append(
                            '<tr class="tr"> <td>'
                            +  formData[i].userName
                            +   '</td> <td>'
                            +  formData[i].email
                            +   '</td> <td>'
                            +formData[i].password
                            +   '</td> <td>'
                            +  departments.filter(item=>item.departmentId==formData[i].departmentId).map(item=>item.departmentName)
                            +   '</td> <td>'
                            + '<a data-target="#editModalButton" data-toggle="modal" id="editButton" onclick="editUser('+formData[i].userId+')" title="Edit" class="btn btn-success btn-xs"> <i class="fa fa-edit "></i></a>'
                            +
                            '<a onclick="deleteUser('+formData[i].userId+')" title="Remove" class="btn btn-danger btn-xs"> <i class="fa fa-trash "></i></a>'
                            +
                            '</td>'
                            +
                            '</tr>');
                }
            },
            error : function(err) {
                alert("error is" + err)
            }
        });
    }
    function editUser(id) {
        loadAllDepartmentCb();
        $.ajax({
            type : "GET",
            url : "/user/getOneUser/ "+ id,
            dataType : 'json',
            success : function(response) {
                    $("#idUpdate").val(response.userId),
                    $("#userNameUpdate").val(response.userName),
                    $("#emailUpdate").val(response.email),
                    $("#passwordUpdate").val(response.password),
                    $("#departmentUpdate").val(response.departmentId)
            },

            error : function(err) {
                alert("error is" + err)
            }
        });
    }
    function updateUser() {
        const formData = {
            userId:$("#idUpdate").val(),
            userName : $("#userNameUpdate").val(),
            email : $("#emailUpdate").val(),
            password : $("#passwordUpdate").val(),
            departmentId:$("#departmentUpdate").val()
        }

        // DO POST
        $.ajax({
            type : "POST",
            contentType : "application/json",
            url : "/user/saveUser",
            data : JSON.stringify(formData),
            dataType : 'json',
            success : function(result) {
                if (result) {
                    $('#editModalButton').modal('hide');
                    alert("User Updated Successfully");
                    getAllUsers();
                } else {
                    alert("An error occured occured");
                }
            },
            error : function(e) {
                alert("Error!")
                console.log("ERROR: ", e);
            }
        });
    }
    function deleteUser(id){
        $.ajax({
            type:"POST",
            url:"/user/deleteUser/"+id,
            success:function(result){
                if(result){
                    alert("User Deleted");
                    getAllUsers();
                }
            },
            error: function(e) {
                alert("The error is" +e);
            }
        })
    }
    function loadAllDepartments(){
        const url="http://localhost:8181/departments/allDepartments";
        const departmentDropDown=$("#departmentEdit");
        $.get(url,function(res){
            departmentDropDown.innerHTML='';
            $.each(res,function (index,department) {
              $("<option>").val(department.departmentId).text(department.departmentName).appendTo(departmentDropDown);
            });
        })
    }
    function loadAllDepartmentCb(){
        const url="http://localhost:8181/departments/allDepartments";
        const departmentDropDown=$("#departmentUpdate");
        $.get(url,function(res){
            departmentDropDown.innerHTML='';
            $.each(res,function (index,department) {
                $("<option>").val(department.departmentId).text(department.departmentName).appendTo(departmentDropDown);
            });
        })
    }
</script>
</body>

</html>